<div class="card-container flex-col">
    <!-- image section -->
    <div class="highlight-image">
        <!-- <img [src]="img"> -->
        <img src="assets/sample-coffee/Signature-Chocolate.png" alt="Highlight Menu"  />
    </div>
    <div class="flex-col space-between full-height">
        <!-- contents -->
        <div class="flex-col">
            <h4 class="card-header">
                Classic Chocolate
            </h4>
            <p>
                Milk and bittersweet chocolate with whipped cream and chocolate sauce.
            </p>
        </div>
        <!-- price -->
        <div class="flex-row space-between price-section">
            <p >Price</p>
            <p>&#x20AC;3.50</p>
        </div>
    </div>
</div>