::ng-deep .mat-dialog-container {
    background-color: var(--dialog-bg) !important;
    border-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 10px 30px;
    border-radius: 6px;
}

::ng-deep .mat-dialog-content {
    padding: 30px 30px 10px 30px;
}

::ng-deep .mat-dialog-actions {
    justify-content: end;
    margin-bottom: 5px;
}

.dialog-container h3 {
    color: var(--dark-brown-2);
    text-align: center;
    margin: 10px 0 0 0;
}

.form {
    width: 100%;
}

.add-image {
    width: 60%;
}

.image-layout {
    width: 90%;
    height: 70%;
    background-color: var(--secondary_color);
    border-radius: 6px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.file-input {
    display: none;
    cursor: pointer;
  }

.image-layout .icon {
    width: 20px;
}

.image-layout .uploaded-image, .image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-layout p {
    color: var(--dark-brown-2);
    margin-top: 10px;
    text-transform: capitalize;
}

input, textarea {
    background: var(--secondary_color);
    border-radius: 6px;
    width: fill-available;
    filter: drop-shadow(0px 3px 13px rgba(0, 0, 0, 0.07));
    border: transparent;
    height: 30px;
    padding: 0px 20px;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    margin-bottom: 10px;
}

textarea {
    padding: 8px 20px;
    min-height: 80px;
}

*:focus {
    outline: none;
}

label {
    color: var(--dark-brown-2);
    margin-bottom: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-color);
    opacity: 1;
}

.euro {
    position: absolute;
    font-size: 16px;
    color: var(--placeholder-color);
    right: 12px;
    top: 3px;
    font-family: "Manrope", sans-serif;
}

.relative {
    position: relative;
}

h3 > span {
    font-size: 24px;
}

button {
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 8px 15px;
    min-width: 80px;
    cursor: pointer;
}

mat-dialog-actions button:first-child {
    background-color: black;
    color: var(--light_font);
    margin-right: 10px;
}

mat-dialog-actions button:last-child {
    color: var(--dark-brown-2);
}

.full-height {
    height: 100%;
}

@media only screen and (max-width: 600px) {

    ::ng-deep .mat-dialog-content {
        padding: 10px 30px 10px 30px;
    }

    .mat-dialog-content .flex-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-layout {
        min-height: 130px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h3 > span {
        font-size: 20px;
    }

    input, textarea, .euro {
        font-size: 14px;
    }

}
