<app-nav-bar></app-nav-bar>
<div class="flex-col">
  <app-carousel></app-carousel>
  <section class="mg-top-50 highlight-layout">
    <h3 class="header">Highlight Menu</h3>
    <div class="card-details">
      <div class="flex-row">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </div>
  </section>
  <section class="categories-section mg-top-50">
    <h3 class="header">Categories</h3>
  </section>
</div>

