<div class="carousel" (window:resize)="onResize($event)">
  <div class="slide-deck">
    <div class="slide flex-col center">
      <h1>
        All-in-One
        <span class="wave">
          <span style="--i: 1;">C</span>
          <span style="--i: 2;">o</span>
          <span style="--i: 3;">f</span>
          <span style="--i: 4;">f</span>
          <span style="--i: 5;">e</span>
          <span style="--i: 6;">e</span>
        </span>
      </h1>
      <h1>Management System</h1>
    </div>
    <div class="slide">sdf</div>
    <div class="slide">sdf</div>
  </div>
</div>
