<nav class="nav-bar-container">
  <div class="flex-col hamburger smaller-screen">
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
  </div>
  <div class="flex-row layout bigger-screen">
    <div class="logo-container">
      <img class="logo" src="assets/logo/coffeeLogo.svg" />
    </div>
    <div class="flex-row items">
      <div class="right-items">Preview Mode</div>
      <div class="right-items">Edit Mode</div>
    </div>
  </div>
</nav>
